:root {
    --bg-color: #303030;
    --bg-gradient: linear-gradient(139deg, rgb(255 249 166 / 100%) 0%, rgb(148 186 223 / 100%) 100%);
    --inverted-bg-color: #f0f0f0 ;

    // текст
    --primary-color: #f0f0f0;
    --second-text-color: #828282;
    --input-text-color: #383838;

    // цвета
    --btn-bg-color: #6490FF
}
